<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  <!-- <div class="navbar-fixed">
    <nav class="nav-container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo dancing-logo center">
          <span>X</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
        </a>
      </div>
    </nav>
  </div> -->
</div>
<div class="container">
  <app-header *ngIf="currentMovie" (startNewSearch)="startNewSearch()"></app-header>
  <main>
    <div class="container-fluid">
      <app-movie-details class="row" *ngIf="currentMovie" [movie]="currentMovie"></app-movie-details>
      <app-search-movie class="row" *ngIf="!currentMovie"></app-search-movie>
    </div>
  </main>
  <div class="container">
    <div class="row">
      <div class="trending-head">
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Trending!</text>
          </symbol>
          <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
      </div>
      <app-trending *ngFor="let trend of trendResults;" [trend]="trend"></app-trending>
    </div>
    <div class="row">
      <app-best-rated></app-best-rated>
    </div>
  </div>
  <app-footer></app-footer>
</div>