  .under-line {
    border-bottom: 1px solid #20d376;
    margin: -3px 63% 10px 12%;
    animation: 1.30s ease-in slide-in;
  }

  @media (max-width: 600px) {
    .under-line {
        margin: -4px 23% 13px 29%;
    }
}

.card.trends-card {
    height: 240px !important;
    max-height: 250px !important;
}

.title-red {
    font-size: 17px;
    line-height: 1.66 !important;
    text-shadow: rgb(116, 153, 61) 0px 3px 3px;
    text-align: center;
}

.trend-info {
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
}

.trend-info.a {
    background-color: #FF4136;
}

.trend-info.b {
    background-color: #F012BE;
}

.trend-info.c {
    background-color: #3D9970;
}

.trend-info.d {
    background-color: #FFDC00;
}