  .under-line {
    border-bottom: 1px solid #20d376;
    margin: -3px 63% 10px 12%;
    animation: 1.30s ease-in slide-in;
  }

  @media (max-width: 600px) {
    .under-line {
        margin: -4px 23% 13px 29%;
    }
}

.card.trends-card {
    height: 240px !important;
    max-height: 250px !important;
    box-shadow: 2px 2px 11px #000000;
}

.card.trends-card:hover {
    cursor: pointer;
}

.card .card-reveal {
    padding: 10px !important;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    display: none;
}


.block {
    display: block !important;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
.fade-title {
    font-size: 15px;
}

.fade-overview {
    color: #333;
    font-size: 12px !important;
}

.close-fade {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 10px;
    color: #FF4136;
    text-shadow: 4px 1px 1px lightsteelblue;
    font-size: 30px;
}

.none {
    display: none !important;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

span.date {
    font-size: 13px;
    color: #FFDC00;
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-shadow: 1px 0px 2px #000000;
}

span.date i {
    color: rgb(255, 245, 181);
    font-size: 20px;
    top: 5px;
    position: relative;
}

span.date i:hover {
    cursor: pointer;
}

.title-red {
    font-size: 17px;
    line-height: 1.66 !important;
    text-align: center;
}

.trend-info {
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 3px;
}

.trend-info.a {
    background-color: #FF4136;
}

.trend-info.b {
    background-color: #F012BE;
}

.trend-info.c {
    background-color: #3D9970;
}

.trend-info.d {
    background-color: #FFDC00;
}