  .under-line {
    border-bottom: 1px solid #20d376;
    margin: -3px 63% 10px 12%;
    animation: 1.30s ease-in slide-in;
  }

  @media (max-width: 600px) {
    .under-line {
        margin: -4px 23% 13px 29%;
    }
}
.a {
    background-color: #20d376;
    color: #000000;
}
.b {
    background-color: #FF4136;
    color: #fff;
}
.c {
    background-color: gold;
    color: #000000;
}

.pills {
    width: max-content;
    border-radius: 11px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 11px;

}

.pills-group {
    position: absolute;
    bottom: 3px;
    display: flex;
    flex-wrap: wrap;
}
.underline {
    border-bottom: 1px solid #FF4136;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.card.trends-card {
    height: 240px !important;
    max-height: 250px !important;
    box-shadow: 2px 2px 11px #000000;
}

.card.trends-card:hover {
    cursor: pointer;
}

.card .card-reveal {
    padding: 10px !important;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    display: none;
}


.block {
    display: block !important;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
.fade-title {
    font-size: 15px;
}

.fade-overview {
    color: #333;
    font-size: 12px !important;
}

.close-fade {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 10px;
    color: #FF4136;
    text-shadow: 4px 1px 1px lightsteelblue;
    font-size: 30px;
}
.mov-detail {
    position: absolute;
    top: 35%;
    left: 7px;
}

.mov-detail .each-detail {
    font-size: 10px !important;
    background-color: #00000098;
    color: #fff;
    border-radius: 12px;
    padding: 2px 6px;
}

.detail-date {
    font-size: 9px !important;
    color: #000;
    background-color: #4caf50;
    font-weight: bold;
    text-align: center;
    padding: 2px 6px;
    border-radius: 8px;
    position: relative;
    max-width: 77px;
    left: 25%;
}

.mov-detail .each-detail span{
    font-size: 13px;
}
.none {
    display: none !important;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

/* span.date {
    font-size: 13px;
    color: #20d376;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    
    text-shadow: 1px 0px 2px #000000;
} */

span.date i {
    color: #20d376;
    font-size: 27px;
    top: 3px;
    right: 5px;
    position: absolute;
}

span.date i:hover {
    cursor: pointer;
}

.title-red {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.66 !important;
    text-align: center;
    position: absolute;
    left: 3px;
    color: #fff;
    bottom: 5px;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 3px -1px 1px #000;
    margin-bottom: 0;
}


.trend-info.a {
    background-color: #FF4136;
}

.trend-info.b {
    background-color: #F012BE;
}

.trend-info.c {
    background-color: #3D9970;
}

.trend-info.d {
    background-color: #FFDC00;
}