<div class="trending-container">
  <div class="col s12 m6 l3">
    <div class="card blue trends-card darken-1" [ngStyle]="backdropStyle()">
      <div class="card-content activate-menu white-text" (click)="toggleView(trend)" [ngClass]="display ? 'block' : 'none'" >
        <span class="date"> <i class="material-icons">camera</i> {{trend.release_date}}</span>
        <div class="mov-detail">
          <p class="each-detail"> Popularity <span>{{trend.popularity}}</span></p>
          <p class="detail-date"> <span>{{trend.release_date}}</span></p>
        </div>
        <span class="card-title title-red">{{trend.title}}</span>
      </div>
      <div class="card-reveal" (click)="toggleView(trend)" [ngClass]="display ? 'none' : 'block'" >
        <span class="card-title grey-text fade-title text-darken-4">{{trend.title}}'s Overview
          <div class="underline"></div>
          <i class="material-icons close-fade right">close</i></span>
        <p class="fade-overview">{{trend.overview | truncate: [40]}}</p>
      </div>
    </div>

  </div>
</div>