<!-- <input type="text" placeholder="Search here" class="search-input" [(ngModel)]="search" (change)="searchRelated($event)"
        (input)="search$.next(search)"> -->
<nav>
    <div class="nav-wrapper">
        <div class="input-field">
            <input type="search" placeholder='Search Movie e.g. "Virgin Island"' [(ngModel)]="search" (change)="searchRelated($event)"
                (input)="search$.next(search)">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <app-each-movie *ngFor="let movie of searchResults; let i = index" [movie]="movie" [index]="i" (click)="setCurrentMovie(movie)">
        </app-each-movie>
    </div>
    <div class="search-result" *ngIf="!fetching && searchResults.length == 0 && search.length > 0">
        <div class="preloader-wrapper center-me big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <h6 class="center-align" *ngIf="fetching && searchResults.length == 0">Coming through for {{search}}</h6>
    <h6 class="center-align" *ngIf="!fetching && search.length > 0 && searchResults.length == 0">No results found for {{search}}, try another keyword!</h6>
    <!-- <h4 *ngIf="!fetching && searchResults.length == 0 && search.length > 0" [ngStyle]="{'text-align': 'center'}">oooops
        <:(> ...No result found for {{search}}</h4> -->
</div>